# Data Preparation to Analyze 2012-2016 Revenue Performance

In this challenge, I created a Python script for analyzing the financial records of PyBank.

This notebook will bring all the data sources together and format them for further analysis.


## Data Sources:
* budget_data_1.csv : John in Finance generated file from SAP
* budget_data_2.csv : Michael in Finance generated file from SAP

Each dataset is composed of two columns: Date and Revenue.



### Task on this notebbook is to prepare data from various sources for further analysis.

- Read data from various sources.

- Format data to correct data types.

- Merge Data

- Check for missing/NaN values.

- Check for duplicate values


### Changes:

- 02-12-2018: Started the project

- 12-11-2018: Updated the project using Python Pandas and added visualization using matplotlib, Tableau, and Univariate Linear Regression Machine learning to predict future bank revenue.


---

In [1]:
# Import Libraries

import pandas as pd
import os

In [2]:
# Directory Location and Filenames

dir = 'data/raw'
file1 = 'budget_data_1.csv'
file2 = 'budget_data_2.csv'

In [3]:
# Load Data into csv

df1 = pd.read_csv(os.path.join(dir,file1))
df2 = pd.read_csv(os.path.join(dir,file2))

In [4]:
# Take a peek

df1[:5]

     Date  Revenue
0  Oct-12  1154293
1  Nov-12   885773
2  Dec-12  -448704
3  Jan-13   563679
4  Feb-13   555394

###  Date Column

````- Since we have a date column on our dataframe, we made sure that we need to store it as date format.````

---

In [5]:
df1.dtypes

Date       object
Revenue     int64
dtype: object

***Date*** - ```We need to format it as a date format.```

---

In [6]:
# Define dates as datetime objects

df1['Date'] = pd.to_datetime(df1['Date'], format='%b-%y')

Use python strftime reference: http://strftime.org/ to format the datetime

```%b	Month as locale’s abbreviated name.```

```%y	Year without century as a zero-padded decimal number.```

---

In [7]:
# Verify the data type of the date column

df1.dtypes

Date       datetime64[ns]
Revenue             int64
dtype: object

In [8]:
# Take a peak

df1[:5]

        Date  Revenue
0 2012-10-01  1154293
1 2012-11-01   885773
2 2012-12-01  -448704
3 2013-01-01   563679
4 2013-02-01   555394

In [9]:
df2[:5]

       Date  Revenue
0  Jan-2009   943690
1  Feb-2009  1062565
2  Mar-2009   210079
3  Apr-2009  -735286
4  May-2009   842933

In [10]:
# Change the Datatype of date

df2['Date'] = pd.to_datetime(df2['Date'], format='%b-%Y')

Use python strftime reference: http://strftime.org/ to format the datetime

```%b	Month as locale’s abbreviated name.```

```%Y	Year with century as a decimal number.```

---

In [11]:
df2.dtypes

Date       datetime64[ns]
Revenue             int64
dtype: object

In [12]:
df2[:5]

        Date  Revenue
0 2009-01-01   943690
1 2009-02-01  1062565
2 2009-03-01   210079
3 2009-04-01  -735286
4 2009-05-01   842933

## Merge Dataframes

In [13]:
# Merge the two Dataframe

df = pd.merge(df1, df2, how='outer', on='Date')

# Highlight the NaN values

df.tail().style.highlight_null(null_color='red')

In [14]:
# Check for Null values

df.isnull().sum()

Date          0
Revenue_x    45
Revenue_y     0
dtype: int64

In [15]:
# Fill the NaN values with 0 to aggregate the Revenue

df = df.fillna(0)
df.tail()

         Date  Revenue_x  Revenue_y
81 2012-05-01        0.0      51905
82 2012-06-01        0.0     415204
83 2012-07-01        0.0     467130
84 2012-08-01        0.0     270918
85 2012-09-01        0.0     589902

In [16]:
# Aggregate the Revenue data by adding the Revenue columns from both dataframes

df["Revenue"] = df['Revenue_x'] + df['Revenue_y']
df.tail()

         Date  Revenue_x  Revenue_y   Revenue
81 2012-05-01        0.0      51905   51905.0
82 2012-06-01        0.0     415204  415204.0
83 2012-07-01        0.0     467130  467130.0
84 2012-08-01        0.0     270918  270918.0
85 2012-09-01        0.0     589902  589902.0

In [17]:
# Drop the unwanted columns

df = df.drop(['Revenue_x', 'Revenue_y'], axis=1)
df[:5]

        Date    Revenue
0 2012-10-01  2211086.0
1 2012-11-01  1135852.0
2 2012-12-01  -357360.0
3 2013-01-01   994779.0
4 2013-02-01  1357358.0

In [18]:
# Sort the dataframe by date

df = df.sort_values(by='Date')
df.style.bar(subset='Revenue', align='mid', color=['#d65f5f', '#5fba7d'])

In [19]:
# Check for Duplicates

df.duplicated(keep='first').sum()

0

In [20]:
# Number of items/records in the dataframe

len(df)

86

In [21]:
# Save the cleaned file for further analysis

df.to_csv('data/processed/revenue_2009_2016.csv', index=False)