In [3]:
# Import Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import os

In [4]:
# File location

dir = 'data/processed/'
filename = 'revenue_2009_2016.csv'

In [9]:
# Import processed csv file

df = pd.read_csv(os.path.join(dir,filename), parse_dates=['Date'], index_col='Date')
df[:5]

              Revenue
Date
2009-01-01   943690.0
2009-02-01  1062565.0
2009-03-01   210079.0
2009-04-01  -735286.0
2009-05-01   842933.0

In [10]:
df.dtypes

Revenue    float64
dtype: object

In [12]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Revenue,86.0,650527.011628,680460.065923,-1063151.0,279551.25,686900.5,1118162.0,2211086.0